body {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: blueviolet;
	line-height: 2rem;
}

.contenedor {
	text-align: center;
	border: 2px solid #ccc;
	padding: 20px;
	border-radius: 10px;
	background-color: blueviolet;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
	color: white;
	margin-bottom: 20px;
	text-transform: uppercase;
}

h2 {
	margin-top: 20px;
}

form {
	margin-bottom: 20px;
}

p {
	color: white;
	font-size: 20px;
	font-weight: bold;
}

select {
	height: 2rem;
}

label {
	color: white;
}

input {
	height: 2rem;
	outline: none;
	text-align: center;
}

input[type='text']:focus {
	border-color: #ff00e1;
	/* Color rosa del borde cuando tiene el foco */
	box-shadow: 0 0 5px #ff00e1;
	/* Agrega una sombra para resaltar */
}

.btn-btn {
	background-color: #ff00e1;
	color: white;
	border: none;
	border-radius: 5px;
	width: 5rem;
	height: 2rem;
}
